# Maven
target/
*.class
*.jar
*.war
*.nar
*.ear

# IDEs and Editors
.idea/
*.iml
.settings/
.project
.classpath
.metadata/
.factorypath
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Environment variables
.env